@import "../../sass/color";

.home-container {
  text-align: center;
}

.home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .home-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home-header {
  background-color: $background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;
}

.home-link {
  color: $blue;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
